<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'base.html' %}
</head>
<body>


{% block content %}
    <h3>Person's searching parameters</h3>
    <form method="POST" class="person-form">{% csrf_token %}
        <p><label>First_name: </label>{{ form.first_name }}</p>
        <p><label>Last_name: </label>{{ form.last_name }}</p>
        <p><button type="submit" class="btn btn-default">Search</button></p>
    </form>

    <h2>Found persons in groups:</h2>
    {% if messages %}
        <ul>
            {% for message in messages %}
               <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <table>
    <tr><th>PK</th><th>Group Name</th><th>Person</th><th></th><th></th></tr>

    {% for g in groups_list %}
            <tr><td>{{ g.id }}</td>
                <td><a href ="{% url 'showGroup' g.id %}">{{ g.group_name }}</a></td>
                <td>{% for p in g.person.all %}{{ p }},{% endfor %}</td>
                <td><a href="{% url 'modifyGroup' g.id %}">Edit</a></td>
                <td><a href="{% url 'deleteGroup' g.id %}">Delete</a></td>
            </tr>
    {% endfor %}

    </table>

{% endblock %}
</body>
</html>